export SDX_MQ_IP='152.54.3.143'
export SDXLC_VERSION='1.0.0'
export SDXLC_NAME='lc1'
export SDXLC_DOMAIN='amlight'

export DB_NAME='test-db'
export DB_CONFIG_TABLE_NAME='test-1'

# To run tests locally (with tox), localhost is convenient as
# MONGO_HOST; for Docker Compose, we hard-code the container name in
# the compose file.
export MONGO_HOST="localhost"
export MONGO_PORT="27017"
export MONGO_INITDB_ROOT_USERNAME="guest"
export MONGO_INITDB_ROOT_PASSWORD="guest"
export MONGODB_CONNSTRING="mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/"
export MONGODB_DATA_DIR="/data/db"
export SDXLC_MONGO_DB="sdx-controllder-test-db"
export SDXLC_MONGO_COLLECTION="sdx-controller-test-table"
# change to local controller host name
export SDXLC_HOST="aw-sdx-lc-1.renci.org"
export SDXLC_PORT="8080"
# Message queue settings for SDX Controller.
export PUB_TOPIC="topo"
export PUB_QUEUE="sdx_q1"
export SUB_QUEUE="connection"
export SUB_EXCHANGE="connection"
export SUB_TOPIC="lc1_q1"
export MQ_NAME="hello"
export MQ_HOST="aw-sdx-monitor.renci.org"
export MQ_PORT=5672

# Kytos/OESS API address
export DOMAIN_CONTROLLER_URL='http://192.168.201.205:8088/SDX-LC/1.0.0/provision'
export DOMAIN_CONTROLLER_PULL_URL='http://192.168.201.205:8088/SDX-LC/1.0.0/topology'
export DOMAIN_CONTROLLER_PULL_INTERVAL=180
